* {
    background-image: url(../img/kimetsu-no-yaiba.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    /* opacity: 0.3; */
    margin: 0px;
    position: fixed;
    
}